@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


body {
    margin: 0;
    padding: 1rem;
    background: #f7f7f7;
    font-family: "Poppins", sans-serif;
  }

  nav  {
    display: flex;
    justify-content: space-between;
    background-color: #598bb0;

  }

  .logo {
    padding: 10px;
    color: #fff;
  }

  nav ul {
    display: flex;
    list-style: none;

  }

  nav ul li a {
    margin-inline-end: 20px;
    color: #fffefe;
    text-decoration: none;
    opacity: 0.8;
  }

  nav ul li a:hover {
    opacity: 1;
  }
  
  header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1srem;
    min-height: 300px;
    align-items: center;
  }
  header h1 {
    font-size: 40px;
  }

  header span {
    color: chocolate;
  }

  header h4 {
    margin-top: 30px;
  }
  header .img {
    padding: 50px;

  }

  .skills h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .skills .points {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills div{
    /* padding: 30px; */
    display:inline-block;
    justify-content:space-between;
    align-items: center; 
    padding-left: 40px;
    padding-right: 40px;
  }
  
  h1, h2 {
    margin-bottom: 1rem;
  }
  
  .about, .skills, .interests {
    margin-bottom: 2rem;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li {
    margin-bottom: 0.5rem;
  }

  .footer {
    position: relative;
    background: #598bb0;
    min-height: 60px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 500;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  